body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.CsvJsonFields {
  display: flex;
}

.CsvField {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: 1rem;
}

.CsvField h1 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.CsvSelected {
  cursor: pointer;
  color: #c6cbd3;
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #516ca6;
}

.CsvUnselected {
  cursor: pointer;
  color: #c6cbd3;
  text-decoration: none;
}

.CsvField textarea{
  background-color: #5f687b;
  border-color: #20232a;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  height: 25rem;
  width: 20rem;
  color: #c6cbd3;
  resize: none;
}

.jsonField {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: auto;
}

.jsonField h1 {
  color: #c6cbd3;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.JsonSelected {
  cursor: pointer;
  color: #c6cbd3;
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #516ca6;
}

.JsonUnselected {
  cursor: pointer;
  color: #c6cbd3;
  text-decoration: none;
}

.jsonField textarea{
  background-color: #5f687b;
  border-color: #20232a;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  height: 25rem;
  width: 20rem;
  color: #c6cbd3;
  resize: none;
}

.Convert2Json {
  background-color: #c6cbd3;
  color: #20232a;
  border-radius: 1rem;
  margin-top: 1rem;
}
