* {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.csvInput {
  display: flex;
  background-color: #5f687b;
  border-color: #20232a;
  border-style: solid;
  height: 25rem;
  width: 20rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.csvInput textarea{
  background-color: transparent;
  color: #c6cbd3;
  resize: none;
  width: 100%;
}
