body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.Alert {
  position: absolute;
  margin-top: -2rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.CsvInput {
  display: flex;
  background-color: #5f687b;
  border-color: #20232a;
  border-radius: 1rem;
  border-style: solid;
  height: 25rem;
  width: 20rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.CsvInput textarea{
  background-color: transparent;
  color: #c6cbd3;
  resize: none;
  border-radius: 1rem;
  width: 100%;
}

.Convert2Json {
  background-color: #c6cbd3;
  color: #20232a;
  border-radius: 1rem;
  margin-top: 1rem;
}
